body {
  font-family: 'Noto Sans Thai', sans-serif;
  background-color: #dafab0;
}
.d-flex {
  gap: 20px;
}
.form-control {
  color: black;
}
.form-control:focus {
  color: black;
  border: 1px solid black;
}
::placeholder {
  font-weight: 100;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(84, 83, 83);
  text-decoration: none;
}
