body {
  font-family: "Noto Sans Thai", sans-serif;
}
.headd {
  text-align: center;
  color: rgb(80, 154, 214);
}
.headd h1 {
  font-size: 50px;
}

.line {
  max-width: 100%;
  margin: auto;
  border-top: 1px solid rgb(80, 154, 214);
}

.d-flex {
  gap: 20px;
}
.form-control {
  color: yellowgreen;
}
.form-control:focus {
  color: yellowgreen;
}
::placeholder {
  font-weight: 100;
}

.div {
}
