@import 'Navbar.css';

@font-face {
  font-family: 'Donut'; /*Can be any text*/
  src: local('Donut'), url('../../public/fonts/MN-Donut.ttf') format('truetype');
}

body {
  font-family: 'Noto Sans Thai', sans-serif;
}
.d-flex {
  gap: 20px;
}
.form-control {
  color: #665a48;
}
.form-control:focus {
  color: #665a48;
}
::placeholder {
  font-weight: 100;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(84, 83, 83);
  text-decoration: none;
}
